@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans' sans-serif;
  background-color: #686de8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  background-color: #fff;
  border-radius: 15px;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 700px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h3 {
  margin: 0;
  opacity: 0.5  ;
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 4rem auto;
  max-width: 600px;

}

.btn {
  background-color: #9f68e8;
  border: 0;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.95);
}